.signUp{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    .title{
        font-size: 25px;
    }
    .signUpForm{
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }
    .login{
        color: darkblue;
        font-weight: 500;
    }
}