@import "mixins";
.gallery{
    .galleryImages{
        display: flex;
        gap: 25px;
        padding: 20px;
        .image{
            border-radius: 10px;
        }
    }
    @include mobile{
        .galleryImages{
        flex-direction: column;
        }
    }
}
