@import "mixins";
.navBar{
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
    .desktop{
        display: flex;
        justify-content: space-between;  
    }
    .mobile{
        display: none;
    }
    @include mobile{
        .desktop{
            display:none;
        }
        .mobile{
            display: block;
        }
    }
}
