@import "mixins";

.host{
    display: flex;
    flex-direction: row;
    gap: 20px;
    @include mobile{
        flex-direction: column;
    }
}
.hostCard{
    display: flex;
    flex-direction: column;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 8px;
    border-radius: 10px;
    border: 2px solid navy;
    .name{
        font-family: 'Changa', sans-serif;
        font-size:x-large;
        text-align: center;
    }
    .qualification, .job{
        display: flex;
        gap: 10px;
        font-family: 'Scope One', serif;
        font-weight:bold;
        font-size: large;
    }
    
    @include mobile{
        padding: 20px 100px;     
    }
}