.notify{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    .icon{
        font-size: 200px;
    }
    .message{
        font-size: 25px;
        font-family: 'Changa', sans-serif;
    }
}